@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
/* Header */
.header {
    background-color: #8BC24A; /* Fondo verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 12vh; /* Aumenta ligeramente la altura del header */
    position: fixed;
    top: 0;
    left: 0;
}

/* Contenedor del header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajusta para centrar mejor el contenido */
    max-width: 1200px; /* Ancho máximo */
}

/* Logo */
.logo {
    width: 100px; /* Mayor tamaño para el logo */
    height: 100px;
    margin-left: 0rem; /* Desplaza ligeramente a la derecha */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 50%; /* Fondo redondeado */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

/* Imagen del logo */
.logo img {
    width: 100%; /* La imagen ocupará más del contenedor */
    height: 100%;
    object-fit: contain;
}

/* Navegación */
.nav {
    display: flex;
    gap: 2rem; /* Espacio entre botones aumentado */
}

.nav-button {
    background-color: #33691D; /* Verde oscuro */
    color: white;
    padding: 2.5rem 3rem; /* Tamaño del botón aumentado */
    text-decoration: none;
    border-radius: 12px; /* Bordes redondeados más grandes */
    font-size: 1rem; /* Tamaño de letra más grande */
    font-weight: 700; /* Fuente más gruesa */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: #FFB300; /* Verde más claro al pasar el ratón */
    transform: scale(1.05); /* Pequeño efecto de agrandamiento */
}

/* Iconos */
.header-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Espacio entre íconos */
    margin-right: 1.5rem; /* Desplaza los iconos hacia la izquierda */
}

.header-icons img {
    width: 40px; /* Aumenta el tamaño de los iconos */
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-icons img:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}

p{
    font-family: Quicksand, serif;
    size: 50px;
}