/* Contenido */
.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    max-width: 600px;
}

.content img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
/* Contenedor principal con scroll */
.scroll-container {
    width: 100%;
    height: 100%;
    padding-top: 2rem; /* Espacio entre el header y el contenido */
    padding-bottom: 10vh; /* Espacio para el footer */
    overflow-y: auto; /* Scroll vertical si el contenido sobrepasa */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    padding-left: 1rem; /* Espacio a los lados */
    padding-right: 1rem;
    box-sizing: border-box;
}