
/* Estilos generales del popup de donación */
.popup {
    display: none;
    /* ⬅ OCULTAR POR DEFECTO */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    /* Asegurar que solo se active con JS */
    justify-content: center;
    align-items: center;
}

/* Contenido del popup */
.popup-content {
    background-color: #63797F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}


.popup-content h2 {
    color: #233746;
}

.popup-content label {
    color: #ccc;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.popup-content button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #33691D;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.popup-content button:hover {
    background-color: #D29F68;
}